
body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-section {
  background-color: #e1eded;
  opacity: 0.8;
}

.navbar {
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0 30px;
  padding: 10px;
}


li {
  float: left;
}

li a {
  display: block;
  font-weight: bold;
  padding: 5px 30px;
}

h1 {
  font-size: 3.2rem;
  color: #66BFBF;
  font-family: 'Sacramento', serif;
}

h2 {
  font-size: 1.3rem;
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Merriweather', serif;
}

h3 {
  font-size: 1.3rem;
  color: #11999E;
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #505050;
  line-height: 2;
}

.main-container {
  background-color: #e1eded;
  position: relative;
  padding: 120px;
}

#welcome-title {
  font-weight: bold;
}

.face {
  /* position: relative; */
  margin: 50px auto 5px;
  width: 12%;
  border-radius: 50%;
}

#face-text {
  opacity: 0.6;
  font-size: 0.6em;
  color: #11999E;
}

.cloud {
  position: absolute;
  right: 200px;
  top: 40px;
  opacity: 0.6;
}

.origami-bird {
  position: absolute;
  left: 200px;
  bottom: 150px;
  opacity: 0.3;
}

.hr-top {
  border: dotted #e1eded 10px;
  border-bottom: none;
  margin: 70px auto 70px;
  width: 15%;
  opacity: 0.7;
}

.hr-bottom {
  border: dotted #e1eded 10px;
  border-bottom: none;
  width: 15%;
  margin: 70px auto 70px;
}

.middle-container {
  position: relative;
  margin: 0 auto 10px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.IT-sec, .webdev, .law {
  width: 15%;
}

.webdev {
  float: left;
  margin-right: 30px;
}

.IT-sec {
  float: right;
  margin-left: 30px;
}

.itsec-title {
  padding-left: 130px;
}

.law {
  float: left;
  margin-right: 30px;
}

.btn {
   background: #53c5c9;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 16px;
   font-weight: 600;
   padding: 10px;
   border: solid #337FED 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #29CFD5 0;
   background: #0C9499;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 10px;
   text-decoration: none;
}

.bottom-container {
  position: relative;
  padding: 20px 0 20px;
  background-color: #e1eded;
}

.contact-me {
  margin: 30px auto;
}

.footer-link {
  margin: 30px 20px;
}

a {
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: #11999E;
}

a:hover {
  color: white;
  font-size: 105%;
}

.copyright {
  color: #506d6d;
  font-size: 0.8rem;
  font-weight: 400;
}

